<div class="container-fluid without-margins-2" style="height: 100%;">
  <div class="row d-block d-md-none justify-content-center">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="showUnits()"
        style=" margin: 0; background-color: #555; color: #FFF; border: none; margin-bottom: 4px;">
        Unidades representadas
      </button>
    </div>
  </div>
  <div class="row without-margins-2">
    <div class="col-12 without-margins-2">
      <div class="container-fluid my-auto d-none d-md-block" style="background-color: #FFF; padding: 0; margin: 0;">
        <div class="row" style="margin: 0; padding: 0;">
          <div class="col-12 col-md-8" style="margin: 0; padding: 0;">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" id="1" (click)="navigate('home/quorum2')">Quórum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="2" (click)="navigate('home/participantes')">Participantes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="3" (click)="navigate('home/votacion2')">Votación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="4" (click)="navigate('home/documentos2')">Documentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="5" (click)="navigate('home/poderes')">Poderes</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" id="5" (click)="navigate('home/chat')" *ngIf="residential_id != '2606' || ( residential_id == '2606' && isSpeaker == 1) else comentarioA">Chat</a>
                <ng-template #comentarioA>
                  <a class="nav-link" id="5" (click)="navigate('home/chat')">Comentarios</a>
                </ng-template>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" id="6" (click)="navigate('home/ayuda')">Ayuda</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4 d-md-block" style="text-align: center; margin: 0; padding: 0;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="showUnits()"
              style=" margin: 0; background-color: #555; color: #FFF; border: none; margin-bottom: 4px;">
              Unidades representadas
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row without-margins-2">
    <div class="col-12 col-md-8">
      <div class="container-fluid without-margins-3 mainAllContainer" style="height: 100%;">
        <div class="row container-iframe">
          <div class="col-12 without-margins-2">
            <div class="container timer_button_2" style="width: 100%; padding: 0; margin: 0;" *ngIf="!isTwitch">
              <div class="row">
                <div class="col-6 col-sm-4">
                </div>
                <div class="col-6 col-sm-4">
                </div>
                <div class="col-12 col-sm-4">
                  <div class="container-timer" id='container_timer'>
                    <h4 class="margin-timer-button">{{ht}} : {{mt}} : {{st}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="container timer_button" style="width: 100%;" *ngIf="isTwitch" id="container_timer_button">
              <div class="row">
                <div class="col-6 col-sm-4">
                  <div class="container-fluid without-margins-2">
                    <div class="row">
                      <div class="col-2 without-margins-2" style="text-align: center;">
                        <i *ngIf="isTwitch" class="fa fa-volume-up icon-volume"></i>
                      </div>
                      <div class="col-10 without-margins-2">
                        <input *ngIf="isTwitch" type="range" class="bar-volume" min="0" max="100" step="0.5"
                          id="customRange3" [(ngModel)]="volume" (change)="setVolume()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                </div>
                <div class="col-12 col-sm-4">
                  <div class="container-timer" id='container_timer'>
                    <h4 class="margin-timer-button">{{ht}} : {{mt}} : {{st}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <iframe class="iframe-nx"
              *ngIf="(raisehand_status==0 && (isSpeaker == 0 || !isSpeaker )) && isTwitch == false"
              playsinline="playsinline" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
              allowfullscreen id="youtube_id" src="" frameborder="0">
            </iframe>
            <div class="twitch-video" id="twitch"
              *ngIf="(raisehand_status==0 && (isSpeaker == 0 || !isSpeaker )) && isTwitch == true"></div>
            <div class="twitch-video" id="twitch-2"
              *ngIf="(raisehand_status==0 && (isSpeaker == 0 || !isSpeaker )) && isTwitch == true && isTwitch2 == true"></div>
            <div id="meet" class="meet-jitsi-nexos"></div>
            <button onclick="jitsi()" id="jitsi_button" style="display: none;">
              Jitsi
            </button>
            <input type="text" [(ngModel)]="jitsi_link" id="meeting_number" style="visibility: hidden; display: none;">
            <input type="text" [(ngModel)]="userName" id="userName" style="visibility: hidden; display: none;">
            <input type="text" [(ngModel)]="password_meeting" id="password_meeting"
              style="visibility: hidden; display: none;">
          </div>
        </div>
        <div class="row container-buttons-iframe">
          <div class="col-12">
            <div class="container-fluid without-margins-2">
              <div class="row">
                <div class="col-12  without-margins-4">
                  <button (click)="refresh2()" type="button" class="button-refresh"
                    *ngIf="raisehand_status_button==0 && (isSpeaker == 0 || !isSpeaker )">
                    <p>
                      Si no puede ver la transmisión en vivo espere 30 segundos y oprima este botón
                    </p>
                  </button>
                  <button (click)="refresh2()" type="button" class="btn btn-secondary"
                    *ngIf="raisehand_status_button==0 && isSpeaker == 1"
                    style="width: 100%; background-color: #e56e22; color: #FFF; vertical-align: center;">
                    Si no puede ver la reunion vitual espere 30
                    <br class="d-block d-sm-block d-md-none">
                    segundos y
                    oprima este botón
                  </button>
                </div>
                <!-- <div class="col-12 col-md-4 without-margins-4">
                  <button class="button-hand" (click)="raiseHand(0)"
                    *ngIf="raisehand_status_button==0 && (isSpeaker == 0 || !isSpeaker ) && accepted == 0">
                    <p class="text-button-hand">
                      <img src="./assets/img/hand.png" style="height: 30px; display: inline-block;" alt="Mano">
                      Pedir palabra
                    </p>
                  </button>
                  <button class="button-hand" (click)="raiseHand(3)"
                    *ngIf="raisehand_status_button==0 && (isSpeaker == 0 || !isSpeaker ) && accepted == 3">
                    <p class="text-button-hand">
                      <img src="./assets/img/hand.png" style="height: 30px; display: inline-block;" alt="Mano">
                      Bajar mano
                    </p>
                  </button>
                  <button class="button-hand" (click)="refresh()" *ngIf="raisehand_status_button==1">
                    <p class="text-button-hand">
                      <img src="./assets/img/arrow.png" style="height: 30px; display: inline-block;" alt="Mano">
                      Volver
                    </p>
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div (click)="scrollTop()" class="d-block d-md-none div-scroll">
  <img src="./assets/img/arrow-up.png" alt="Boton navegacion" class="button-scroll-top">
</div>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container container-units">
          <p><strong>Coeficiente representado: {{representedcoefficient}}%
            </strong></p>
          <div class="scroll table-responsive">
            <table class="table table-striped table-units">
              <thead>
                <tr>
                  <th class="td-padding">Unidad</th>
                  <th class="td-padding">Coef</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let userunit of userunits">
                  <td class="td-padding">
                    {{userunit.building_name}}
                    {{userunit.building_number}} {{userunit.unit_name}}
                    {{userunit.unit_number}}
                  </td>
                  <td class="td-padding">
                    {{userunit.coefficient}}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="text-add-units" *ngIf="observer==0"> Si usted no representa alguna(s) de estas unidades y/o
            representa alguna(s)
            unidad(es)
            adicional(es)
          </p>
          <button type="button" class="button-orange" data-bs-toggle="modal" data-bs-target="#exampleModal2"
            *ngIf="observer==0" (click)="openModalAddunits()">
            haga clic aquí
          </button>
        </div>
        <div class="modal" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Unidades Representadas
                      </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="Maquina">
                        Aquí podrá eliminar unidades que no represente
                        y enviar una solicitud para
                        adicionar
                        unidades a su representación
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="scroll2">
                        <div class="table-responsive">
                          <table class="table table-striped table-units">
                            <tr *ngFor="let userunit of userunits; index as index">
                              <td class="td-padding">
                                {{userunit.building_name}}
                                {{userunit.building_number}}
                                {{userunit.unit_name}}
                                {{userunit.unit_number}}
                              </td>
                              <td class="td-padding">
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                  data-bs-trigger="hover focus" data-bs-content="Eliminar">
                                  <button class="button2" type="button" (click)="Delete(userunit.unit_id, index)"
                                    *ngIf="userunits.length > 1">
                                    Eliminar
                                  </button>
                                </span>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="Adicionar">
                        <b style="color: #464646;">Aquí puede
                          seleccionar la unidad que desee agregar</b>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <select class="form-select form-select-sm form-select-units"
                              aria-label="Default select example" [(ngModel)]="sectorIndex"
                              (change)="getUnitsBySector()">
                              <option class="T1-body" value="">
                                Selecciona la
                                <span *ngIf="unitsDataBase.length > 0">
                                  {{unitsDataBase[0].name}}
                                </span>
                              </option>
                              <option *ngFor="let unit of unitsDataBase; let i = index" [value]='i'>
                                {{unit.number}}
                              </option>
                            </select>
                          </div>
                          <div class="col-12 col-md-6">
                            <select class="form-select form-select-sm form-select-units"
                              aria-label="Default select example" [(ngModel)]="unitIndex">
                              <option class="T1-body" value="">
                                Selecciona el
                              </option>
                              <option *ngFor="let unit of unitsSector; let i = index" [value]="i">
                                {{unit['number']}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12" style="text-align: center;">
                      <button type="button" class="button3" data-bs-dismiss="modal" (click)="Save()">
                        Agregar Unidad
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="voteModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-votacion [voteData]='voteData' [modalActive]='modalActive'></app-votacion>
      </div>
    </div>
  </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="toast" class="toast toast-message" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="10000">
    <div class="toast-header">
      <img src="./assets/img/logo.png" class="rounded me-2" alt="..." style="width: 25px;">
      <strong class="me-auto">Mensaje</strong>
      <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
    </div>
    <div class="toast-body">
      Se ha bajado la mano
    </div>
  </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="toast-2" class="toast toast-message" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="10000">
    <div class="toast-header">
      <div style="position: relative; text-align: center; display: flex; justify-content: space-around; width: 100%;">
        <img src="./assets/img/logo.png" class="rounded me-2" alt="..." style="width: 25px;">
        <strong class="me-auto">Mensaje</strong>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
      </div>
    </div>
    <div class="toast-body">
      Usted ha enviado una solicitud de palabra, en un momento recibirá un mensaje con una respuesta.
    </div>
  </div>
</div>