<img id="backgroundimage" src="./assets/img/fondo.png" alt="">
<div class="container" style="min-height: 100%; min-width: 100%; vertical-align: middle;">
  <div class="row" style="min-height: 550px; min-width: 100%;">
    <div class="col"
      style="min-height: 100%; min-width: 100%; justify-content: center; align-items: center; text-align: center;">
      <br><br>
      <img src="./assets/img/logo_redondo.png" style="width: 200px;">
      <br>
      <br>
      <br class="d-none d-sm-none d-lg-block">
      <span class="title-text">
        {{residential}}
      </span>
      <br><br><br>
      <label class="text-content">
        BIENVENIDO A LA {{name}}
        <br>
        El ingreso web se iniciará a las {{texto}}
      </label>
    </div>
  </div>
</div>