<img id="backgroundimage" src="./assets/img/fondo.png" alt="">
<div class="container" style="min-height: 100%; min-width: 100%; vertical-align: middle;">
  <div class="row" style="min-height: 550px; min-width: 100%;">
    <div class="col"
      style="min-height: 100%; min-width: 100%; justify-content: center; align-items: center; text-align: center;">
      <br><br>
      <img src="./assets/img/logo_redondo.png" style="width: 200px;">
      <br>
      <br>
      <br class="d-none d-sm-none d-lg-block">
      <span class="title-text">
        GRUPO EMPRESARIAL NEXOS
      </span>
      <br><br>
      <label class="text-content">
        La asamblea ya ha finalizado muchas gracias.
      </label>
      <br><br><br>
      <label style="font-family:Arial, Helvetica, sans-serif; font-size: 2.1rem; font-weight: 500; color: #555; width: 80%; line-height : 45px;">
      </label>
    </div>
  </div>
</div>