<div class="container">
  <div class="row align-items-center">
    <div class="col-2 d-none d-md-block"></div>
    <div class="col-12 col-md-8">
      <h3 class="text-center">Grupo Empresarial Nexos</h3>
    </div>
    <div class="col-12 col-md-2 d-none d-md-block" style="text-align: center;">
      <button class="button-gray-dark" (click)="goBack()">Volver</button>
    </div>
  </div>
  <hr style="color: #e56e22;">
  <div class="row">
    <div class="col-2 d-none d-md-block"></div>
    <div class="col-12 col-md-8">
      <p class="text-center dark-text">
        Señor usuario: Si no recibió un correo electrónico con su
        usuario y clave, por favor digite su dirección de correo
        electrónico.
      </p>
      <div class="mb-4 mt-3">
        <input type="email" class="form-control inputEmailCredential" id="mailToConfirm" name="mailToConfirm"
          aria-describedby="emailHelp" [(ngModel)]="mailToConfirm" placeholder="ejemplo@gmail.com">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 d-none d-md-block"></div>
    <div class="col-12 col-md-8 text-center">
      <button type="button" class="button-orange" (click)="getUserByEmail()" *ngIf="showButton">Enviar</button>
    </div>
  </div>
  <hr class="d-block d-md-none" style="color: #e56e22;">
  <div class="row d-block d-md-none mt-4">
    <div class="col-12 text-center">
      <button class="button-gray-dark" (click)="goBack()">Volver</button>
    </div>
  </div>
</div>